<!DOCTYPE html>
<html lang="en">
<head>
    <!--
basado en:
http://andy-carter.com/blog/a-beginners-guide-to-the-task-runner-gulp
https://spring.io/guides/tutorials/spring-security-and-angular-js/

VAMOS A USAR GULP  como mecanismo de generacion de comrepsion y distribucion de los css
    y js para ellos en la rais del proyecto corremnos
    npm init, esto es para que se genere en la raiz de nuestro proyecto el package.json

    Despues instalamos gulp localmente:
    npm install gulp --save-dev

    Despues creamos el archivo gulpfile.js
    touch gulpfile.js

    Despues agregamos el plugin para concatenar, estos cambios se deben ver en tu archivo
    package.json creado previamente:
    npm install gulp-concat --save-dev


   DEspues instalamos
 npm install --save-dev gulp-ng-annotate

 Y agregamos el respectivo require en gulpfile.js para que haga la minificacion para angular, pues si no lo hacemos
 no se podra minificar correctamente, nos marcara error en donde vea $scope

    Despues modificamos el archivo gulfile.js para que pongamos alli instrucciones para
    concatenar los js, debes de organizar y crear las carpetas tal ocmo viene en gulfile.js
       Despues se ejecuta con gulp y listo!!

    Despues si quieres minificar instalas el  plugin
    npm install gulp-uglify gulp-rename --save-dev

    Despues modificamos nuestro gulpfile.js para que minifique y uglifique

    Deespues si queremos usar sass instalamos:
    npm install --save-dev gulp-ruby-sass
     Desopues agregamos un un nuevo task en nuestro archivo en nuestro gulpfile.js

   Despues tenemos que nstalar gulp-less
   npm install gulp-less

   DEespues instalamos minfycss gulp-minify-css
 npm install --save-dev gulp-minify-css

     Despues, si queremos usar Lees instalamos:
     npm install --save-dev gulp-watch-less

     Despues agregamos un task dentro de nuestro archivo gulpfile
    -->




    <meta charset="UTF-8">
    <title>Ceneval Ap.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        [ng\:cloak],[ng-cloak],.ng-cloak{
            display:none !important;
        }
    </style>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="fundacion/foundation-icons.css">
    <link rel="stylesheet" href="fundacion/foundation-icons.woff">
    <script src="fundacion/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="fundacion/css/foundation.min.css">
    <link rel="stylesheet" href="build/css/style.min.css">

</head>
<body ng-app="hello" class="ng-cloak">
<div  ng-controller="navigation" id="pagina-completa">

    <!-- Inicia navegación principal-->
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#" style="text-decoration: none">CENEVAL</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#" style="text-decoration: none"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

            <!-- Menu izquierda principal -->
            <ul class="left">
                        <li><a href="#/" style="text-decoration: none">Inicio</a></li>
            </ul>
            <ul class="left">
                <li ng-show="!authenticated" class="active"><a href="#/ingresar" style="text-decoration: none">Ingresar</a></li>
            </ul>
            <!-- Menu inzquierda guias GUIAS-->
            <ul ng-show="authenticated" class="left">

                <li  class="has-dropdown">
                    <a href="#" style="text-decoration: none">Guías</a>
                    <ul  class="dropdown" >
                        <li class="has-dropdown">
                            <a href="#">A. Análisis Preliminar (Lecturas)</a>
                            <ul class="dropdown">
                                <li class="active"><a href="#">1. Diagnóstico de problema</a></li>
                                <li ><a href="#">2. Modelado de requerimientos</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">B. Desarrollo e implantación (Lecturas)</a>
                            <ul class="dropdown">
                                <li class="active"><a href="#">1. Diseño de la solución</a></li>
                                <li ><a href="#">2. Desarrollo de sistemas</a></li>
                                <li ><a href="#">3. Implantación de sistemas</a></li>
                                <li ><a href="#">4. Aplicación de modeos matemáticos</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">C. Gestión de proyectos (Lecturas)</a>
                            <ul class="dropdown">
                                <li class="active"><a href="#">1. Administración de proyectos</a></li>
                                <li ><a href="#">2. Control de calidad</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">D. implantación de redes, bases de datos, programación (Lecturas)</a>
                            <ul class="dropdown">
                                <li class="active"><a href="#">1. Gestión de redes de datos</a></li>
                                <li ><a href="#">2. Gestión de bases de datos</a></li>
                                <li ><a href="#">3. Gestión de sistemas operativos</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- Menu inzquierda REACTIVOS-->
            <ul ng-show="authenticated" class="left">

                <li  class="has-dropdown">
                    <a href="#" style="text-decoration: none">Reactivos</a>
                    <ul  class="dropdown" >
                        <li class="has-dropdown">
                            <a href="#">A. Análisis Preliminar</a>
                            <ul class="dropdown">
                                <li ng-repeat="prop in propsA" ng-click="seleccionarTemasA(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak=""><a href="#/tema-reactivos">{{prop.label}}{{prop.tema}}</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">B. Desarrollo e implantación de Aps.</a>
                            <ul class="dropdown">
                                <li ng-repeat="prop in propsB" ng-click="seleccionarTemasB(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak=""><a href="#/tema-reactivos">{{prop.label}}{{prop.tema}}</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">C. Gestión de proyectos de TI</a>
                            <ul class="dropdown">
                                <li ng-repeat="prop in propsC" ng-click="seleccionarTemasC(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak=""><a href="#/tema-reactivos">{{prop.label}}{{prop.tema}}</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">D. implantación de redes, bases de datos, programación</a>
                            <ul class="dropdown">
                                <li ng-repeat="prop in propsD" ng-click="seleccionarTemasD(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak=""><a href="#/tema-reactivos">{{prop.label}}{{prop.tema}}</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- Opcion de logout -->
            <ul ng-show="authenticated" class="right">
                <li class="salir"><a ng-click="logout()" class="button alert" style="text-decoration: none"><i class="fi-unlock"></i>  Salir</a></li>
            </ul>

            <!-- Si se trata de un profesor: -->
            <ul ng-show="authenticated">
                <li ng-show="esprofesor"><a href="#/reactivos">Reactivos</a></li>
            </ul>



        </section>
    </nav>
   <!-- Termina navegación princpal-->

    <!--BARRA DE LA IZQUIERDA CON ICONOS-->
<!--
    <div ng-show="authenticated"  class="icon-bar vertical four-up">
        <a class="item" href="#/profesores" ng-show="esadministrador">
            <i class="fi-address-book"></i>
            <label>Profesores</label>
        </a>
        <a class="item">
            <i class="fi-calendar"></i>
            <label>Calendario</label>
        </a>
        <a class="item">
            <i class="fi-clipboard-pencil"></i>
            <label>Recomendaciones</label>
        </a>
        <a class="item">
            <i class="fi-social-designer-news"></i>
            <label>Temario Oficial</label>
        </a>
        <a class="item" ng-show="esprofesor" href="#/reactivos">
            <i class="fi-social-github"></i>
            <label>Reactivos</label>
        </a>

    </div>
-->
<div class="container">


    <p ng-show="!authenticated">Guía de estudio del CENEVAL PARA SISTEMAS E INFORMÁTICA</p>
</div>
    </div>


<div ng-view class="container"></div>
<script src="bower_components/jquery/dist/jquery.min.js" type="application/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="application/javascript"></script>
<script src="bower_components/angular/angular.min.js" type="application/javascript"></script>
<script src="bower_components/angular-route/angular-route.min.js" type="application/javascript"></script>
<script src="bower_components/angular-resource/angular-resource.min.js" type="application/javascript"></script>
<script src="fundacion/js/foundation.min.js" type="application/javascript"></script>
<script src="fundacion/js/foundation/foundation.magellan.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="bower_components/hello.js" type="application/javascript"></script>
<script src="build/guias.js" type="application/javascript"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
