<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="alert alert-danger" ng-show="error">
    Tus datos son incorrectos, intenta de nuevo
</div>
<form role="form" ng-submit="login()">
    <div class="form-group">
        <label for="password">Login:</label><input type="text" class="form-control" id="username"
                                                      name="password" ng-model="credentials.username"/>

    </div>
    <div class="form-group">
        <label for="password">Password:</label><input type="password"
            class="form-control" id="password" name="password" ng-model="credentials.password"/>

    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
<div ng-show="loading" STYLE="color: #245580;">BUSCÁNDOTE EN MONGUITO...</div>
</body>
</html>